html {
  background-image: url('../image/background.jpeg');
  background-size: cover;
}
#launchpad {
  margin-top: 2rem;
  font-size: 14px;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 3rem;
  font-family: 'Wallpoet';
  font-size: 4rem;
  letter-spacing: 15px;
  text-shadow: 0 0 1rem slateblue;
}
#row1 > td {
  background: #0074d9;
}
#row2 > td {
  background: #ff851b;
}
#row3 > td {
  background: #ff4136;
}
#row4 > td {
  background: #ffdc00;
}
#row5 > td {
  background: #39cccc;
}
#row6 > td {
  background: #85144b;
}
#row7 > td {
  background: #aaaaaa;
}
#row8 > td {
  background: #01ff70;
}
td.active {
  transform: scale(1.05);
  border-color: #f5fffa;
  box-shadow: 0 0 1rem white;
  opacity: 1;
}
td {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.7;
  display: inline-block;
  box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
}
