<div id="launchpad-container">
  <center>
    <table id="launchpad">
    </table>
  </center>
</div>

<div class="sound-container">
  <div class="crop">
    
  </div>
  <div class="consolidate">
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound2">
      <source src="/samples/consolidate/2.wav">
    </audio>
    <audio id="sound3">
      <source src="/samples/consolidate/3.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
    <audio id="sound1">
      <source src="/samples/consolidate/1.wav">
    </audio>
  </div>
</div>